<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.CommentMapper">
	<insert id="insert" parameterType="comment">
		<selectKey keyProperty="commentNo" resultType="int" order="AFTER">
			select seq_comment.currval as commentNo from dual
		</selectKey>
		insert into TCOMMENT values(seq_comment.nextval, #{userId}, #{content})
	</insert>
</mapper>